.SectionWrapper{
    width:100%;
    padding:1% 8%;
    box-sizing:border-box;
  }
  .BannerSection{
    width:100%;
    height:150px;
    position:relative;
    padding:50px;
    box-sizing:border-box;
    background-color: #FFF7ED;
    border-radius: 12px;
  }
  .BannerIllustration {
    width: 220px;
    height:105%;
    position: absolute;
    bottom: 0;
  }
  
  .BannerMetaWrapper {
    width: 60%;
    margin-left: auto;
  }
  
  .BannerHeading {
    color: #FB7443;
    margin-top:0;
    margin-bottom: 0;
    font-size: 24px;
  }
  
  .BannerDescription {
    margin-top: 0;
    color: #999;
    font-size: 13px;
  }
  
  .CelebIcon {
    width: 32px;
    margin-left: 8px;
  }
  
  .LearnMoreText {
    color: #FB7443;
    font-size: 12px;
    text-align: right;
  }
  
  .IconRightOrange {
    margin-left: 8px;
    width: 14px;
  }

  /*Categories*/

  