.Order{
    margin-top:20px;
    margin-left:30px;
    width:100px;
    padding:5px;
}

.OrderHeader{
font-size:25px;
font-weight:800;
}
.smiley{
    width:50px;
    vertical-align: middle;
    padding:6px 12px;
    box-sizing:border-box;
}
.Address{
   background-color:#503E9D;
    width:270px;
    border-radius:15px;
    margin-top:20px;
    padding:8px 16px;
}
.Address>div{
    display:flex;
    align-items: center;
    justify-content: space-around;
    
    }
.para{
    color: #FCD561;
    font-weight:700;
    }
.paraText{
   color:#fff;
}
.Icondiv{
    background-color:#604C96;
   border-radius:10px;
   padding:6px 12px;
   color: #FCD561;
}
.Icon{
    color:#fff;
}
